%div{:id => "css_files", :class => "theme_assets"} 
  %table.table.table-hover.theme_asset_css
    %thead
      %tr
        %th CSS Theme Assets
        %th.visuallyhidden Delete Css Theme Asset
    %tbody
      = render :partial => 'css_file', :collection => @css_files
