- reset_cycle("table_list")
%div{:id => "image_files", :class => "theme_assets"} 
  %table.table.table-hover.theme_asset_image
    %thead
      %tr
        %th Image Theme Assets
        %th.visuallyhidden Delete Image Theme Asset
    %tbody
      = render :partial => 'image', :collection => @images
