- reset_cycle("table_list")
%div{:id => "js_files", :class => "theme_assets"} 
  %table.table.table-hover.theme_asset_js
    %thead
      %tr
        %th JavaScript Theme Assets 
        %th.visuallyhidden Delete Javascript Theme Asset
    %tbody
      = render :partial => 'js_file', :collection => @js_files
