- reset_cycle("table_list")
%div{:id => "other_files", :class => "theme_assets"} 
  %table.table.table-hover.theme_asset_other_files
    %thead
      %tr
        %th Other Theme Assets 
        %th.visuallyhidden Delete Other Theme Asset
    %tbody
      = render :partial => 'other_file', :collection => @other_files
