%table.table.table-hover.info.article_collections
  %thead
    %tr
      %th Article Collection Name
      %th.visuallyhidden Delete Article Collection
  %tbody
  = render @article_collections.asc(:name)
