= form_for([:admin, @asset_collection], :html => {:class => "site_prop", :autocomplete => "off" }) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => @asset_collection }
           
  = render :partial => 'form_general', :locals => { :f => f, :button_label => button_label }