.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{:data => {:toggle => "collapse", :target => "#general_fields"}} 
        General
    #general_fields.accordion-body.collapse.in
      .accordion-inner
        = f.label :name, "Name"
        = f.text_field :name

        = f.label :description
        = f.text_area :description, :class => "span6", :rows => "3"   

