%p Manage other #{link_to 'Sites', admin_sites_path}
.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{:data => {:toggle => "collapse", :target => "#current_site_hame"}} 
        Site Name
    #current_site_hame.accordion-body.collapse.in
      .accordion-inner
        = f.label :name
        = f.text_field :name
